<div class="card">
  <p-timeline
    [value]="events"
    align="alternate"
    styleClass="customized-timeline"
  >
    <ng-template pTemplate="marker" let-event>
      <span
        class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
        [ngStyle]="{ 'background-color': event.color }"
        *ngIf="event && event.color"
      >
        <i [class]="event.icon"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card [header]="event.status" [subheader]="event.date">
        <p>
          {{ event.text }}
        </p>
        <img
          *ngIf="event.image"
          [src]="event.image"
          [alt]="event.name"
          width="200"
          class="shadow-2"
        />
        <br />
        <p-button label="Voir plus" [text]="true"></p-button>
      </p-card>
    </ng-template>
  </p-timeline>
</div>
