<div class="contt">
  <div class="formContainer">
    <img
      src="assets/img/gosquad-logo.png"
      alt="Logo de Gosquad"
      class="gosquad-logo"
    />
    <h2>Mot de passe oublié</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
      <label>
        Email :
        <input type="email" formControlName="email" />
        <div
          *ngIf="
            forgotPasswordForm.get('email')?.invalid &&
            (forgotPasswordForm.get('email')?.dirty ||
              forgotPasswordForm.get('email')?.touched)
          "
        >
          <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
            L'adresse email est requise.
          </div>
          <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
            L'adresse email n'est pas valide.
          </div>
        </div>
      </label>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">
        Réinitialiser le mot de passe
      </button>
    </form>
    <div *ngIf="message">{{ message }}</div>
  </div>
</div>
