<footer>
  <div class="footer-container">
    <div class="footer-section logo-section">
      <img src="assets/img/gosquad-logo.png" alt="GoSquad Logo" class="logo" />
      <p>
        GoSquad est une plateforme innovante de planification et de gestion de
        voyages en groupe, conçue pour simplifier l'organisation de vos
        aventures. Avec GoSquad, rassemblez votre équipe, explorez de nouveaux
        horizons et créez des souvenirs inoubliables, le tout en un seul
        endroit.
      </p>
    </div>
    <div class="footer-section info-section">
      <h4>Informations</h4>
      <ul>
        <li><a href="#">Condition & termes</a></li>
        <li><a href="#">A propos de nous</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="#">Notre équipe</a></li>
        <li><a href="#">Nous contacter</a></li>
      </ul>
    </div>
    <div class="footer-section follow-us-section">
      <h4>Suivez-nous</h4>
      <app-social-icons></app-social-icons>
      <!-- Inclusion directe du composant -->
      <h4>Newsletter</h4>
      <div class="newsletter">
        <input type="email" placeholder="Adresse Email" />
        <button>S'abonner</button>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>BY © Freelance GD</p>
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Conditions d'utilisation</a></li>
      <li><a href="#">Politique</a></li>
      <li><a href="#">Confidentialité</a></li>
    </ul>
  </div>
</footer>
